<h5>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#2e81eb ">
    <!--<a class="navbar-brand" href="#">Rent-IT</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav1" aria-controls="nav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar1">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Rent-IT <span class="sr-only">(current)</span></a>
        
      </div>
      
      <form class="navbar-form navbar-right" role="search" >
        <div class="input-group" style="position: relative;right: 300px;/*! margin-top: 10%; */padding-bottom: 10px;">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
          
        </div>
        
        <span class="glyphicon glyphicon-user" style="position: absolute;right: 190px;"></span>          
       
    </form>
   
  
    </div>
    
   
  </nav>
</h5>
