.account-icon {
    text-align: center;
    margin-top: 150px;
}

.mat-icon-accoun {
    font-size: 100px;
    margin-left: -80px;
    color: #0B4B76;
}

.example-full-width {
width: 100%;
}

.text-create-account{
    text-align: center;
    font-family: Tahoma;
    font-size: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.text-signup {
    text-align: center;
    font-family: Tahoma;
    font-size: 15px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.back-button{
    float: right;
}
